{%  extends 'base.html'%}
{% load static %}
{% block header_link %}
<link rel="stylesheet" href="{% static 'css/verify.css' %}">
{% endblock %}
{% block content %}

<div class="container">
    <h2 id="verify_header">register/login</h2>
    <form class="form-container" id="verify_form"  action="">
        {% csrf_token %}
        <label class="verify_label" for="code">enter code</label>
        <input type="text" id="code" name="code" placeholder="123456">
        <button type="submit" id="verify_button">confirm</button>
    </form>
</div>

<script src="{% static 'js/verify.js' %}"></script>
{% endblock %}